input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: rgb(0, 225, 255);
}
input[type="submit"] {
  width: 120px;
  margin-left: 35px;
  display: block;
  border-radius: 3px;
}
