h1::before {
    content: "Prefijo -" ;
    background-color: rgb(136, 119, 235);
}
h2::before {
    content: "PrefijoH2 -" ;
    background-color: rgb(250, 131, 177);
}
h3::after {
    content: "- Sufijo" ;
    background-color: rgb(56, 228, 228);
}
p::first-letter{
    font-size: 50px;
    color: rgb(64, 197, 64);
}
/*#primerp*/
p::first-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: blueviolet;
}
::marker {
    color: rgb(178, 69, 192); 
    font-size: 23px;
}
#div1 *::selection {
    color: white;
    background: rgb(59, 217, 228);
}
.classdiv1::selection {
    color: red;
    background: yellow;
}   